table.resources {
	position: relative;
	overflow: hidden;
}
table.resources th {
	text-align: center;
	border-top: 1px solid #ddd;
}
table.resources td {
	text-align: center;
	border-top: 1px solid #ddd;
}
table.resources thead {
	position: relative;
	display: block;
 	overflow: visible;
}
table.resources thead th {
	min-width: 40px;
	height: 30px;
}
table.resources thead th:nth-child(1) {
	position: relative;
	display: block;
	height: 30px;
	min-width: 200px;
	max-width: 200px;
}
table.resources tbody {
	position: relative;
	display: block;
	overflow: scroll;
}
table.resources tbody td {
	min-width: 40px;
}
table.resources tbody tr td:nth-child(1) {
	position: relative;
	display: block;
	height: 30px;
	min-width: 200px;
	max-width: 200px;
	font-weight: bold;
}
.resources-unavailability {
	color: #d9534f;
	font-weight: bold;
}
.resources-unavailability:hover,
.resources-unavailability:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
table.resources td.highlighted {
	background-color:#999;
}